.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 50px;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
  padding: 20px;
}
input:hover,
textarea:hover {
  border: 1px solid #000;
}
label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
button {
  border-radius: 8px;
  border: none;
  background: #4e75ff;
  width: 86px;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-top: 8px;
}

button:hover {
  background: #6c8cff;
}
